{% extends 'user.html' %}
{% load static %}
  <!-- ***** Main Banner Area Start ***** -->
 {% block content %} 
  <div class="about-main-content">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <div class="blur-bg"></div>
            <div class="line-dec"></div>
            <h2>ONLINE VOTING PLATFORM</h2>
            <p>An online voting is initiated by a voting proposal followed by a discussion period. After the discussion period the voting period is started. The voting is finished by calculating and publishing the voting results.</p>
            <div class="main-button">
              <a href="reservation.html">Discover More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  {% endblock %}
