{% extends 'index.html' %}

        <!-- Content Header (Page header) -->
        {% block content %}
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">DataTable </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Candidate ID</th>
                                            <th>Candidate Name</th>
                                            <th>party</th>
                                            <th>member support</th>
                                            <th>age</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>email</th>
                                            <th>photo</th>
                                            <th>logo</th>
                                            <th>Approve</th>
                                            <th>Decline</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for j in data %}
                                        <tr>
                                            <td>{{j.candidateid}}</td>
                                            <td>{{j.candidatename }}</td>
                                            <td>{{j.partyname}}</td>
                                            <td>{{j.membersprt}}</td>
                                            <td>{{j.age }}</td>
                                            <td>{{j.address }}</td>
                                            <td>{{j.phone }}</td>
                                            <td>{{j.email}}</td>
                                            <td><img src="{{j.photo.url}}"  style="width:60px ; height:60px"></td>
                                            <td><img src="{{j.logo.url}}"  style="width:60px ; height:60px"></td>
                                            <td><a href="{% url 'approve' did=j.id %}"><button class="btn btn-success">APPROVE</button></a></td>
                                            <td><a href="{% url 'delete1' did=j.id %}"><button class="btn btn-danger">Delete</button></a></td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        {% endblock %}
        <!-- /.content -->
    