{% extends 'chome.html' %}
{% load static %}

  <!-- ***** Header Area End ***** -->
  {% block content %} 

  <div class="second-page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>Voting System</h4>
          <h2>Make Your Reservation</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida</p>
          <div class="main-button"><a href="about.html">Discover More</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info reservation-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <i class="fa fa-phone"></i>
            <h4>Make a Phone Call</h4>
            <a href="#">+123 456 789 (0)</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <i class="fa fa-envelope"></i>
            <h4>Contact Us via Email</h4>
            <a href="#">company@email.com</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <i class="fa fa-map-marker"></i>
            <h4>Visit Our Offices</h4>
            <a href="#">24th Street North Avenue London, UK</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reservation-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         
        </div>
        <div class="col-lg-12">
          {% for j in data %}
          <form id="reservation-form" name="gs" method="post" role="search" action="{% url 'update1'  did=j.id %}"  enctype = "multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <h4>Make Your <em>Reservation</em> Through This <em>Form</em></h4>
              </div>
              <div class="col-lg-6">
                <fieldset>
                    <label for="cid" class="form-label">Your ID</label>
                    <input type="text" name="candidateid" class="Name" placeholder="Enter ID" id="candidateid" autocomplete="on"  value="{{j.candidateid}}" required >
                </fieldset>
            </div>
              <div class="col-lg-6">
                  <fieldset>
                      <label for="name" class="form-label">Your Name</label>
                      <input type="text" name="candidatename" class="Name" placeholder="Enter Name" id="candidatename" autocomplete="on" value="{{j.candidatename}}" required>
                  </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                    <label for="pame" class="form-label">Party Name</label>
                    <input type="text" name="partyname" class="Name" placeholder="Enter Name" id="partyname" autocomplete="on" value="{{j.partyname}}" required>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <label for="msupport" class="form-label">Member Support</label>
                    <input type="text" name="membersprt" class="Name" placeholder="Enter number" id="membersprt" autocomplete="on" value="{{j.membersprt}}" required>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <label for="age" class="form-label">Your Age</label>
                    <input type="text" name="age" class="Name" placeholder="Enter ID" id="age" autocomplete="on" value="{{j.age}}" required>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <label for="email" class="form-label">Your email</label>
                    <input type="text" name="email" class="Name" placeholder="Enter email" id="email" autocomplete="on" value="{{j.email}}" required>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <label for="number" class="form-label">Your Number</label>
                    <input type="text" name="phone" class="Name" placeholder="Enter Number" id="phone" autocomplete="on"  value="{{j.phone}}"required>
                </fieldset>
            </div>
              <div class="col-lg-6">
                <fieldset>
                    <label for="name" class="form-label">Your Address</label>
                    <input type="text" name="address" class="Name" placeholder="Enter Address" id="address" autocomplete="on" value="{{j.address}}"required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                    <label for="number" class="form-label">Photo</label>
                    <input type="file" class="form-control" id="photo" name="photo">
                </fieldset>
            </div>

            <div class="col-lg-6">
                <fieldset>
                    <label for="number" class="form-label">Logo</label>
                    <input type="file" class="form-control" id="photo" name="logo">
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <label for="pas" class="form-label">Username</label>
                    <input type="text" name="username" class="pas" placeholder="Enter Username" id="pass" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                    <label for="password" class="form-label">Your Password</label>
                    <input type="text" name="password" class="password" placeholder="Enter Password" id="password" autocomplete="on" required>
                </fieldset>
              </div>
            
              
              
            
              <div class="col-lg-12">                        
                  <fieldset>
                      <button  type="submit" class="main-button">Submit</button>
                  </fieldset>
              </div>
            </div>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


    {% endblock %}
 
    